
/* Default font for body */
body {
    font-family: "helvetica", sans-serif !important;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: "helvetica", serif;
}

/* primary font */
.primary-font, #primary-font {
    font-family: "", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Default font */
.default-font, #default-font {
    font-family: "Roboto", sans-serif;
}